body {
	width: 300px;
}
body:before {
    content: "";
    position: absolute;
	background-image :url("http://25.media.tumblr.com/665f306a0a5a5eae6e0c91f33ce74695/tumblr_mzzqv2P7MY1st5lhmo1_1280.jpg");
    height: 100%; width: 100%; /* Using Glen Maddern's trick /via @mente */
    transform: scale(5);
    transform-origin: top left;
    -webkit-filter: blur(30px);
}

.card {
	font-size : 18px;
	color : #fff;
	font-weight :bold;
	/*margin: 10px;*/
	padding: 20px 10px;
	/*height: 80px;*/
	width: 100%;
	border-bottom: 1px solid #aaa;
	background-color: #fff;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position : center;
}

.card:hover {
	cursor:pointer;
}

.black {
	color: #333;
}

#playlist {
	display: none;
}

.col-md-12 {
	padding : 0;
}
